.graveBG {
  background: url("./images/iconspinmorespace.gif") repeat;
  background-color: #fdffff;
  min-height: 100%;
  max-height: max-content;
  width: 100%;
}

.graveContents {
 padding-top: 10%;
}

.frame {
 height: 300px;
 margin: auto;
 display: block;
}

.topMemorialTitle {
 text-align: center;
 font-size: 200%;
 padding-bottom: 1%;
}

.bottomMemorialTitle {
 text-align: center;
}