div#splashScreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #333966;
  display: flex;
  align-items: center;
  justify-content: center;

  &.transitioning {
    background-color: #6c6;
    transition: background-color 1s steps(6);
  }

  #beamsLogo {
    position: relative;
    width: 600px;
    max-width: 80%;
    aspect-ratio: 1 / 1;
    background-image: url('@zgd/images/beams.png');
    background-size: contain;
    background-repeat: no-repeat;

    #beamsProgressArea {
      position: absolute;
      top: 80%;
      left: 7.5%;
      right: 0;
      bottom: 0;
    }

    img.beamsProgress {
      width: 8.8%;
      float: left;
      margin-right: 1.6%;
    }
  }
}
