@import 'effects';

@font-face {
  font-family: PixelMplus12 Regular;
  src: url('https://cdn.leafscape.be/PixelMplus/PixelMplus12-Regular_web.woff2')
    format('woff2');
}

@font-face {
  font-family: PixelMplus12 Bold;
  src: url('https://cdn.leafscape.be/PixelMplus/PixelMplus12-Bold_web.woff2')
    format('woff2');
}

h1,
h2,
h3 {
  margin: 0;
  font-family: 'PixelMplus12 Regular';
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'PixelMplus12 Regular';
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

#desktop {
  position: relative;
  margin: 0;
  padding: 8px 0;
  width: 100%;
  height: 100%;
  background-image: url('@zgd/images/desktop_background.png');
  background-size: auto 590px;
  background-repeat: repeat-x;
  background-color: #ac0;
  background-attachment: fixed;
}

#windowOuter {
  z-index: 10000;
  position: relative;

  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  border-top: 2px solid #eee;
  border-left: 2px solid #eee;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;

  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: steps(8);
}

#windowInner {
  height: 100%;
  overflow: hidden;
  background-color: #eee;

  border: 2px solid #ccc;
}

h1 {
  position: relative;
  color: #fff;
  font-size: 16px;
  background-image: url('@zgd/images/titlebar_background.png');
  background-repeat: repeat-y;
  background-color: #d00;
  background-size: auto 32px;
  padding: 2px 6px;
  border-bottom: 2px solid #ccc;

  span.upper {
    font-size: 50%;
    vertical-align: super;
  }

  span.beaMark {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('@zgd/images/bea_mark.png');
    background-size: contain;
    vertical-align: -8%;
  }
}

#closeWindow {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 18px;
  height: 18px;

  background-color: #000;
  background-image: url('@zgd/images/minimize.png');
  background-size: cover;

  cursor: pointer;
  text-align: center;
}

#contents {
  padding: 16px;
  height: 100%;
  overflow: scroll;
}

.messageBoard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  gap: 8px;
  padding-bottom: 16px;
}

.messageColumn {
  flex-grow: 1;
  width: 200px;
}

@media (max-width: 1200px) {
  #desktop {
    padding: 0;
  }
}

@media (max-width: 800px) {
  .messageColumn {
    width: 400px;
  }
}

.message {
  width: 100%;
  padding: 16px;
  background-color: #ff0;
  text-align: justify;
  margin-bottom: 8px;
  font-size: 14px;

  animation-name: fadeinDelayed;
  animation-duration: 1.4s;
  animation-timing-function: steps(6);

  img {
    width: 100%;
    height: auto;
    border-radius: 4px;

    transition: height 0.5s;
  }
}

.messageBy {
  margin-top: 10px;
  text-align: right;
}

.zoomableImage {
  img {
    cursor: pointer;
  }

  .backdrop {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 16px;

    img {
      display: inline-block;
      z-index: 10001;
      max-width: 100%;
      max-height: 100%;
      border-radius: 8px;
      width: auto;
      height: auto;
    }
  }
}

.backdrop {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0008;

  animation-name: fadeinOpacity;
  animation-duration: 0.3s;
  animation-timing-function: steps(3);
}

.desktopItems {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  padding: 8px;
}

.desktopItem {
  padding: 8px;
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  cursor: pointer;

  .icon {
    width: 64px;
    height: 64px;
  }

  div.icon {
    background-color: #0008;
  }

  .name {
    background-color: #0008;
    color: #fff;
    max-width: 100%;
    text-align: center;
    padding: 2px 2px 4px 2px;
  }
}

div#splashScreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #333966;
  display: flex;
  align-items: center;
  justify-content: center;

  &.transitioning {
    background-color: #6c6;
    transition: background-color 1s steps(6);
  }

  #beamsLogo {
    position: relative;
    width: 600px;
    max-width: 80%;
    aspect-ratio: 1 / 1;
    background-image: url('@zgd/images/beams.png');
    background-size: contain;
    background-repeat: no-repeat;

    #beamsProgressArea {
      position: absolute;
      top: 80%;
      left: 7.5%;
      right: 0;
      bottom: 0;
    }

    img.beamsProgress {
      width: 8.8%;
      float: left;
      margin-right: 1.6%;
    }
  }
}
